:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-width: 240px;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f6f8;
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 100%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
