
.DS_Store

dist
node_modules

.env*
**/yarn-error.log
.yarn/cache
!.yarn/cache/.gitkeep

temp/
**/.clj-kondo/
**/.cpcache/
**/.calva/
**/.lsp
**/.nrepl-port
**/.shadow-cljs
cli/data_files_ignored/
clj-cli/source_pdfs/
clj-cli/typesense_chunks/